<configuration scan="true" scanPeriod="30 seconds">

    <!-- 用来定义变量，name 就是属性，value 就是值，可以在需要的地方引入 name，实现复用 -->
    <!-- Ps: 这里实际上就是在配置日志文文件输出的位置 -->
    <property name="LOG_HOME" value="logs"/>


    <!-- 引入spirng boot默认的logback配置文件(主要用他来输出彩色的控制台) -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--
        appender用来格式化日志输出节点，有俩个属性name和class，class用来指定哪种输出策略，
        常用就是控制台输出策略和文件输出策略。
     -->
    <!-- Console 输出设置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <charset>utf8</charset>
            <!--默认格式输出: 使用彩色面板-->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志输出编码 -->
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <file>${LOG_HOME}/demo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${app.root}/logs/log_%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>48</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
    </appender>
    <!--
         root 标签是必须存在的，并且必须放在最后配置. 用来指定最基础的日志输出级别，只有一个level属性(级别最低是 info，否则报错)
         可以包含零个或多个元素，appender-ref 就是在声明需要使用到哪些自定义配置，最后添加到这个logger。
     -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>